html, body {
  background-image: url("background.jpg");
  font-family: Courier, monospace;
}

body {
  padding: 10px;
}

.loginButton {
  color: white;
  background: transparent;
  border: 2px solid white; 
  border-radius: 10px;
  padding: 16px;
  font-size: 25px;
}

.loginButton1 {
  /* background-color: black; */
  color: white;
  border: 2px solid white;
}

.loginButton1:hover {
  /* background-color: black; */
  color: #00e058;
}